---
import ProjectModal from "./ProjectModal.astro";
---

<div>
  <h3>hello from project list item</h3>
  <p>asdfas asdf asd fdas f asdf as</p>
  <p>asdfas asdf asd fdas f asdf as</p>
  <!-- onlick show project modal -->
</div>
