---
import Text from "./Text.astro";
import Avatar from "./Avatar.astro";
---

<section
  class="flex flex-col md:flex-row items-center justify-center px-12 md:mt-6"
>
  <Text />
  <Avatar />
</section>
