---

---

<div class="">
  <h1 class="">Hello, World!</h1>
  <p class="">
    Welcome to my blog. Here, I share insights, projects, and thoughts on web
    development and technology.
  </p>
</div>

<!--
before
<div class="flex-1 text-center md:text-left">
  <h1 class="text-4xl md:text-6xl font-bold text-[var(--color-text)]">
    Hello, World!
  </h1>
  <p class="mt-4 text-lg text-[var(--color-text)]">
    Welcome to my blog. Here, I share insights, projects, and thoughts on web
    development and technology.
  </p>
</div>
-->
