@import "tailwindcss";

* {
  outline: 1px solid red;
}

:root {
  --color-background: #f0f0f0;
  --color-text: #333333;
  --color-accent: #2563eb;
}

.dark {
  --color-background: #111827;
  --color-text: #f9fafb;
  --color-accent: #3b82f6;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

header {
  background-color: var(--color-background);
  color: var(--color-text);
  border-bottom: 2px solid var(--color-text);
}

a {
  color: var(--color-text);
}

a.current {
  color: var(--color-accent);
  text-decoration: underline var(--color-accent);
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}

@media (max-width: 768px) {
  .md\\:hidden {
    display: none;
  }

  .md\\:flex {
    display: flex;
  }

  .mobile-menu-hidden {
    display: none;
  }

  .mobile-menu-visible {
    display: flex;
  }
}
