---
import Technology from "./Technology.astro";
---

<div>
  <h1>hello from my techstack component</h1>
  <ul>
    <li>js</li>
    <li>node</li>
    <li>ts</li>
  </ul>
</div>

<!--
map through techstack list and use technology component
-->
