---
import PageLinks from "./PageLinks.astro";
import SocialLinks from "./SocialLinks.astro";
const { currentPage } = Astro.props;
---

<header
  class="bg-[var(--color-background)] text-[var(--color-text)] border-b-2 border-[var(--color-text)]"
>
  <nav class="sticky top-0 z-100 flex justify-center items-center px-4 py-2">
    <div class="flex justify-between items-center w-full max-w-4xl">
      <button id="theme-toggle" class="p-2 text-2xl"> ðŸŒ™ </button>
      <PageLinks currentPage={currentPage} />
      <SocialLinks />
    </div>
  </nav>
</header>

<script>
  const button = document.getElementById("theme-toggle");
  const root = document.documentElement;
  let isDark = localStorage.getItem("theme") === "dark";

  function updateTheme() {
    root.classList.toggle("dark", isDark);
    button.innerHTML = isDark ? "â˜€ï¸" : "ðŸŒ™";
    localStorage.setItem("theme", isDark ? "dark" : "light");
  }

  button.addEventListener("click", () => {
    isDark = !isDark;
    updateTheme();
  });

  updateTheme();
</script>
