---
const { currentPage } = Astro.props;
---

<ul
  class="flex flex-col md:flex-row items-center font-semibold text-3xl md:text-lg"
>
  <li class="p-4">
    <a href="/">about</a>
  </li>
  <li class="p-4">
    <a href="/blog/">blog</a>
  </li>
  <li class="p-4">
    <a href="/projects/">projects</a>
  </li>
</ul>
