---

---

<ul class="flex justify-end space-x-4">
  <li>
    <a href="https://github.com/language-dev243" target="_blank">
      <span class="sr-only">see my work on github</span>
      <img width="24" height="24" src="github_logo.svg" alt="github logo" />
    </a>
  </li>
  <li>
    <a href="https://bsky.app/profile/languagedev.bsky.social" target="_blank">
      <span class="sr-only">follow me on bluesky</span>
      <img width="24" height="24" src="bluesky_logo.svg" alt="bluesky logo" />
    </a>
  </li>
</ul>
